.navlink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navlink:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navlink.active {
    background-color: #1abc9c;
    color: white;
  }